.dropdown-toggle,.dropdown-item {
  cursor: pointer;
}

img{
  max-height: 50px;
  border: 2px solid white;
  display: inline;
}

.collapse-toggler {
  width: 40px;
  position: relative;
}

@media(min-width: 768px) {
  .collapse-toggler {
    display: none;
  }
}