<nav class="navbar navbar-expand-md navbar-dark bg-primary">

  <div class="container">
    <div >
      <button *ngIf="!loggedIn()" type="button" class="btn btn-primary collapse-toggler mr-3" (click)="isLoginCollapsed = !isLoginCollapsed"
        [attr.aria-expanded]="!isLoginCollapsed" aria-controls="collapseBasic"><i class="fa fa-bars fa-lg"></i>
      </button>

      <button *ngIf="loggedIn()" type="button" class="btn btn-primary collapse-toggler mr-3" (click)="isHomeCollapsed = !isHomeCollapsed"
      [attr.aria-expanded]="!isHomeCollapsed" aria-controls="collapseBasic"><i class="fa fa-bars fa-lg"></i>
    </button>
      <a class="navbar-brand" [routerLink]="['/home']">DatingSite</a>
    </div>
    

    <ul *ngIf="loggedIn()" [collapse]="isHomeCollapsed" [isAnimated]="true" class="navbar-nav mr-auto order-2 col-12 col-md-auto order-md-0">
      <li class="nav-item active" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/members']">Matches</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/lists']">Lists</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/messages']">Messages</a>
      </li>
    </ul>
  
    <div dropdown *ngIf="loggedIn()" class="dropdown">
      <span class="mr-1">
        <img src="{{photoUrl || '../../assets/user.png'}}" alt="">
      </span>
      <a dropdownToggle (click)="false" class="dropdown-toggle text-light">
        Welcome {{this.authService.decodedToken?.unique_name | titlecase}}
      </a>
    
      <div *dropdownMenu class="dropdown-menu mt-3" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" [routerLink]="['/member/edit']"><i class="fa fa-user"></i>Edit Profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out"></i>Logout</a>
      </div>
    </div>
  
    <form [collapse]="isLoginCollapsed"
      [isAnimated]="true"
      *ngIf="!loggedIn()"
      #loginForm="ngForm"
      (ngSubmit)="login(loginForm)" 
      class="form-inline my-2 my-lg-0 col-12 col-md-auto">
      <input class="form-control mr-sm-2"
        type="text"
        name="username"
        placeholder="Username"
        ngModel>
      <input class="form-control mr-sm-2"
        type="password"
        name="password"
        placeholder="Password"
        ngModel>
      <button class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
    </form>
  
  </div>
  
</nav>